.container {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

table {
  width: 80%; /* Adjust the width as needed */
  border-collapse: collapse;
}

th,
td {
  border: 1px solid #ddd;
  padding: 8px;
  text-align: center; /* Center align text */
}

th {
  background-color: #faebd7; /* Set the background color */
}


.ok {
  border: 1px solid rgb(226, 216, 216);
  margin-top: 10px;
  margin-bottom: 10px;
  background-color: blueviolet;
  color: white;
  padding: 10px 20px;
  font-size: 16px;
  cursor: pointer;
  border-radius: 100px;
}

.ok:hover {
  background-color: darkviolet;
}
